{% extends 'base.html.twig' %}

{% block title %}Utente{% endblock %}
{% block description %}Il mio account utente{% endblock %}

{% block body %}

    <div class="row">
        <h2>
            Il mio account
        </h2>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="mailto:{{ app.user.email }}"
                    class="link-underline link-underline-opacity-0">
                    <twig:ux:icon name="bi:envelope-at" height="15" /> 
                    {{ app.user.email }}
                </a>
            </li>
            <li class="list-group-item">
                Nome: {{ app.user.getName() }}
            </li>
            <li class="list-group-item">
                Cognome: {{ app.user.getSurname() }}
            </li>
        </ul>
    </div>
    
    <div class="row">
        <h3>
            Azioni possibili:
        </h3>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{{ path('app_logout') }}" class="btn">
                <span>Esci</span>
                <twig:ux:icon name="bi:box-arrow-right" height="14" />
            </a>
        </div>
    </div>

    <div class="row">
        <h3>
            Dati associati:
        </h3>
        {% for anagraphical in anagraphicals %}
            {% include '/profile/anagraphical.html.twig' with { 'anagraphical': anagraphical } %}
        {% else %}
            <p>
                Nessuna anagrafica associata alla mail
                <a href="mailto:{{ app.user.email }}">{{ app.user.email }}</a>
            </p>
        {% endfor %}
    </div>

{% endblock %}
