{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block description %}L'app di Amichiamoci{% endblock %}

{% block body %}

    {% for match in todayMatches %}
        {% include 'match/small.html.twig' with { 'match': match } %}
    {% else %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p>
                Nessuna partita in programma per te oggi
            </p>
        {% else %}
            <p>
                Effettua il <a href="{{ path('app_login') }}" class="link-secondary">login</a> per vedere le tue partite di oggi
            </p>
        {% endif %}
    {% endfor %}

    {% if leaderboard %}
        <h2 class="h2">
            Classifica corrente
        </h2>
        {% include 'home/leaderboard/block.html.twig' with { 'leaderboard': leaderboard } %}
    {% endif %}

    {% if todaySaint %}
        <div class="row user-select-none">
            <div class="col">
                <span>Oggi la Chiesa ricorda</span> 
                {% if todaySaint.hasDescription() %}
                    <a href="#"
                        role="button" 
                        data-bs-toggle="popover" 
                        data-bs-trigger="focus" 
                        data-bs-container="body" 
                        data-bs-placement="top" 
                        data-bs-title="{{ todaySaint.Typology }}"
                        data-bs-content="{{ todaySaint.Description }}"
                        title="Vedi dettagli"
                        class="link-info link-underline link-underline-info link-offset-2-hover link-underline-opacity-0 link-underline-opacity-75-hover">
                    {{ todaySaint.Name }}
                    </a>        
                {% else %}
                    <span>{{ todaySaint.Name }}, {{ todaySaint. Typology }}</span>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
