{% extends 'base.html.twig' %}

{% block title %}Torneo {{ tourney.Name }}{% endblock %}
{% block description %}Torneo di {{ tourney.Sport }}{% endblock %}

{% block body %}
    <div class="m-1">
        <h1>
            Torneo {{ tourney.Name }}
        </h1>
        <p>
            Tipologia: <strong>{{ tourney.Type }}</strong><br />
            Sport: {{ tourney.Sport }}
        </p>

        <hr />
        
        <h3>
            Squadre partecipanti
        </h3>
        <ul class="list-group">
            {% for teamName in tourney.Teams %}
                <li class="list-group-item">{{ teamName }}</li>
            {% endfor %}
        </ul>
        
        <hr />

        {% if tourney.hasLeaderboard() %}
            <h3> Classifica </h3>
            <table class="table">
            <thead>
                <tr>
                    <th rowspan="2" class="align-middle"> Squadra </th>
                    <th rowspan="2" class="align-middle"> Punti </th>
                    <th colspan="2" class="text-center"> Partite </th>
                </tr>
                <tr>
                    <th>
                        Da Giocare
                    </th>
                    <th>
                        Previste
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for team in tourney.Leaderboard %}
                    <tr>
                        <td>
                            <a href="{{ path ('team_view', {'id': team.Id }) }}"
                                class="link-underline link-underline-opacity-0">
                                {{ team.Name }}
                            </a>
                        </td>
                        <td>
                            {{ team.Points }}
                        </td>
                        <td>
                            {{ team.MatchesToPlay }}
                        </td>
                        <td>
                            {{ team.PlannedMatches }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        {% endif %}

        <h3>
            Parite
        </h3>
        <ul class="list-group">
            {% for match in tourney.Matches %}
                <li class="list-group-item">
                    <a href="{{ path('home_team_view', {'id': match.HomeTeam.Id })}}" 
                        class="link-secondary link-underline link-underline-opacity-0">
                        {{ match.HomeTeam.Name }}
                    </a>
                     - 
                    <a href="{{ path('home_team_view', {'id': match.GuestTeam.Id })}}" 
                        class="link-secondary link-underline link-underline-opacity-0">
                        {{ match.GuestTeam.Name }}
                    </a>
                    
                    {% if match.hasScores() %}
                        &nbsp;
                        <span class="text-muted user-select-none">
                            {{ match.ScoresRow }}
                        </span>
                    {% elseif match.hasDate() %}
                        &nbsp;
                        <span class="text-muted user-select-none">
                            Prevista per il {{ match.Date }}
                        </span>
                    {% endif %}
                </li>
            {% else %}
                <li class="list-group-item">
                    Calendario non ancora creato
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}