<div class="container border border-2 m-1 p-1" id="match-${{ match.Id }}">

    <div class="row">
        <div class="col h4 text-center">
            <a href="{{ path('home_tourney_view', {'id': match.TourneyId }) }}" 
                class="link-primary link-underline">
                {{ match.TourneyName }}
            </a>
            &nbsp;
            <span class="user-select-none text-muted">
                ({{ match.SportName|upper }})
            </span>
        </div>
    </div>

    {% if match.hasHomeTeam() and match.hasGuestTeam() %}
        <div class="row">
            <div class="col text-center">
                <a href="{{ path('home_team_view', {'id': match.HomeTeam.Id })}}" 
                    class="link-secondary link-underline link-underline-opacity-0">
                    <twig:ux:icon name="bi:house" height="15" />
                    {{ match.HomeTeam.Name }}
                </a>
            </div>
            
            <div class="col text-center">
                <a href="{{ path('home_team_view', {'id': match.GuestTeam.Id })}}" 
                    class="link-secondary link-underline link-underline-opacity-0">
                    <twig:ux:icon name="bi:car-front" height="15" />
                    {{ match.GuestTeam.Name }}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="{{ path('church_view', {'id': match.HomeTeam.ChurchId })}}" 
                    class="link-secondary link-underline link-underline-opacity-0">
                    <twig:ux:icon name="mdi:church-outline" height="15" />
                    {{ match.HomeTeam.Church }}
                </a>
            </div>
            
            <div class="col text-center">
                <a href="{{ path('church_view', {'id': match.GuestTeam.ChurchId })}}" 
                    class="link-secondary link-underline link-underline-opacity-0">
                    <twig:ux:icon name="mdi:church-outline" height="15" />
                    {{ match.GuestTeam.Church }}
                </a>
            </div>
        </div>
    {% endif %}

    {% if match.hasScores() %}
        {% for score in match.Scores.Parsed %}
        <div class="row">
            {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.isReferee() %}
                <div class="col text-center">
                    {{ score.Home }} - {{ score.Guest }}
                    &nbsp;
                    <a href="{{ path('delete_result', {'id': score.Id })}}"
                        class="link-danger link-underline link-underline-opacity-0"
                        title="Rimuovi">
                        <twig:ux:icon name="bi:trash" height="14" />
                    </a>
                </div>
            {% else %}
                <div class="col text-center user-select-none">
                    {{ score.Home }} - {{ score.Guest }}
                </div>
            {% endif %}
        </div>
        {% endfor %}
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.isReferee() and match.canHaveOtherResults %}
        <div class="row">
            <div class="col text-center">
                <button 
                    type="button"
                    data-bs-toggle="modal" 
                    data-bs-target="#modal-new-result-{{ match.Id }}">
                    Aggiungi risultato
                </button>
            </div>
        </div>
        <div class="modal fade" id="modal-new-result-{{ match.Id }}" 
            tabindex="-1" 
            aria-hidden="true"
            aria-labelledby="modal-new-result-label-{{ match.Id }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-new-result-label-{{ match.Id }}">
                            Aggiungi punteggio
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{{ path('add_result', {'id': match.Id }) }}">

                            <div class="form-floating mb-3">
                                <input 
                                    type="text" 
                                    name="content" id="match-content-{{ match.Id }}" 
                                    class="form-control"  
                                    required autofocus 
                                    placeholder="1 - 1"
                                    pattern="[0-9]+\s{0,}-\s{0,}[0-9]+">
                                <label for="match-content-{{ match.Id }}">Risulato</label>
                            </div>
                            
                            <button type="submit" class="btn btn-primary">
                                Aggiungi
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if match.hasDate() or match.hasTime() %}
        <div class="row">
            {% if match.hasDate() %}
                <div class="col text-center"> 
                    <twig:ux:icon name="bi:calendar-event" height="15" />
                    {{ match.Date }}
                </div>
            {% endif %}
            {% if match.hasTime() %}
                <div class="col text-center">
                    <twig:ux:icon name="bi:clock" height="15" />
                    {{ match.Time }}
                </div>
            {% endif %}
        </div>
    {% endif %}

    {% if match.hasField() %}
        <div class="row">
            <div class="col text-center">
                <a href="#"
                    role="button" 
                    class="link-secondary link-underline link-underline-opacity-0" 
                    data-bs-toggle="modal" 
                    data-bs-target="#modal-field-{{ match.Field.Id }}">
                    
                    <twig:ux:icon name="bi:geo-alt" height="16" />
                    {{ match.Field.Name }}
                </a>
            </div>
        </div>

        <div class="modal fade" id="modal-field-{{ match.Field.Id }}" 
            tabindex="-1" 
            aria-hidden="true"
            aria-labelledby="modal-field-label-{{ match.Field.Id }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-field-label-{{ match.Field.Id }}">
                            Campo {{ match.Field.Name }}
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
                    </div>
                    <div class="modal-body">
                        {% include 'match/field.html.twig' with {'field': match.Field } %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if match.WhoPlays is defined %}
        <div class="row">
            <div class="col text-center">
                <em class="text-muted user-select-none">
                    {{ match.WhoPlays }}, ricordati di giocare!
                </em>
            </div>
        </div>
    {% endif %}
</div>