<div class="container">
    &copy; {{ 'now' | date('Y') }} - 
    Amichiamoci - 
    <a href="{{ path('home_privacy') }}" class="link-secondary">Privacy</a> -
    <a href="{{ path('home_credits') }}" class="link-secondary">Crediti</a> -
    <a href="{{ app.request.server.get('INSTAGRAM_URL') }}" 
        target="_blank" title="Seguici su Instagram"
        class="link-secondary link-underline link-underline-opacity-0">
        <twig:ux:icon name="bi:instagram" height="13" />
    </a> &nbsp;
    <a href="{{ app.request.server.get('WHATSAPP_URL') }}"
        target="_blank" title="Iscriviti al canale WhatsApp"
        class="link-secondary link-underline link-underline-opacity-0">
        <twig:ux:icon name="bi:whatsapp" height="13" />
    </a> &nbsp;
    <a href="{{ app.request.server.get('FACEBOOK_URL') }}" 
        target="_blank" title="Seguici su Facebook"
        class="link-secondary link-underline link-underline-opacity-0">
        <twig:ux:icon name="bi:facebook" height="13" />
    </a>
</div>