<nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">
            <img src="{{ asset('logos/logo.png') }}" 
                height="48"
                alt="Logo di Amichiamoci" title="Vai alla pagina principale" 
                class="d-inline-block align-text-top"/>
        </a>
        <button class="navbar-toggler" 
                type="button"
                role="button"
                data-toggle="collapse"
                data-bs-toggle="collapse"
                data-target="#navbar-collapse"
                data-bs-target="#navbar-collapse" 
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">

            <twig:ux:icon name="bi:list" height="20" />
        </button>
        <div id="navbar-collapse"
            class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item dropdown">
                    <a class="nav-link text-reset dropdown-toggle"
                        href="#" 
                        id="navbarDropdownMenuLink" 
                        role="button" 
                        data-bs-toggle="dropdown" 
                        aria-expanded="false">
                        Partite
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg-start" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" 
                                href="{{ path('matches', {'sport': 'calcio'}) }}"
                                title="Le partite di Calcio">
                                
                                <twig:ux:icon name="game-icons:soccer-ball" height="15" />
                                Calcio
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" 
                                href="{{ path('matches', {'sport': 'pallavolo'}) }}"
                                title="Le partite di Pallavolo">

                                <twig:ux:icon name="game-icons:volleyball-ball" height="15" />
                                Pallavolo
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" 
                                href="{{ path('matches', {'sport': 'basket'}) }}"
                                title="Le partite di Basket">

                                <twig:ux:icon name="game-icons:basketball-basket" height="15" />
                                Basket
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-reset dropdown-toggle"
                        href="#" 
                        id="tourneysDropdownMenuLink" 
                        role="button" 
                        data-bs-toggle="dropdown" 
                        aria-expanded="false">
                        Tornei
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg-start" aria-labelledby="tourneysDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" 
                                href="{{ path('home_tourney_list', {'sport': 'calcio'}) }}"
                                title="I Tornei di Calcio">
                                
                                <twig:ux:icon name="game-icons:soccer-ball" height="15" />
                                Calcio
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" 
                                href="{{ path('home_tourney_list', {'sport': 'pallavolo'}) }}"
                                title="I Tornei di Pallavolo">

                                <twig:ux:icon name="game-icons:volleyball-ball" height="15" />
                                Pallavolo
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" 
                                href="{{ path('home_tourney_list', {'sport': 'basket'}) }}"
                                title="I Tornei di Basket">

                                <twig:ux:icon name="game-icons:basketball-basket" height="15" />
                                Basket
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-reset text-reset" href="{{ path('leaderboard') }}">Classifica</a>
                </li>
                
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if app.user.isReferee() %}
                        <li class="nav-item">
                            <a class="nav-link text-reset dropdown-toggle"
                                href="#" 
                                id="refereeDropdownMenuLink" 
                                role="button" 
                                data-bs-toggle="dropdown" 
                                aria-expanded="false">
                                Arbitro
                            </a>
                            <ul class="dropdown-menu dropdown-menu-lg-start" aria-labelledby="refereeDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" 
                                        href="{{ path('referee_dashboard') }}">
                                        <twig:ux:icon name="fluent:run-16-regular" height="15" />
                                        Partite
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" 
                                        href="{{ path('referee_teams') }}">
                                        <twig:ux:icon name="fluent-mdl2:teamwork" height="15" />
                                        Squadre
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if app.user.isAdmin() %}
                        <li class="nav-item dropdown">
                            <a class="nav-link text-reset dropdown-toggle"
                                href="#" 
                                id="adminDropdownMenuLink" 
                                role="button" 
                                data-bs-toggle="dropdown" 
                                aria-expanded="false">
                                Admin
                            </a>
                            <ul class="dropdown-menu dropdown-menu-lg-start" aria-labelledby="adminDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" 
                                        href="{{ path('admin') }}">
                                        <twig:ux:icon name="ri:admin-line" height="15" />
                                        Gestisci Amministratori
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" 
                                        href="{{ path('new_referee') }}">
                                        <twig:ux:icon name="game-icons:whistle" height="15" />
                                        Gestisci Arbitri
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
                
                <li class="nav-item">
                    <a data-change-theme="true" 
                        class="nav-link text-reset overflow-hidden" 
                        href="javascript:rotateTheme()"
                        oncontextmenu="return false">
                        <span class="light-theme">
                            <twig:ux:icon name="bi:brightness-high" height="16" />
                            Tema chiaro
                        </span>
                        <span class="dark-theme">
                            <twig:ux:icon name="bi:moon" height="16" />
                            Tema scuro
                        </span>
                    </a>
                </li>
            </ul>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('profile') }}" 
                    class="nav-link text-reset"
                    title="Vai alla pagina del profilo">
                    <twig:ux:icon name="uil:user" height="16" />
                    {{ app.user.getName() }}
                </a>
            {% else %}
                <a class="nav-link text-reset" href="{{ path('app_login') }}">Login</a>
                <a class="nav-link text-reset" href="{{ path('app_register') }}">Registrati</a>
            {% endif %}
        </div>
    </div>
</nav>