{% extends 'base.html.twig' %}

{% block title %}Arbitro{% endblock %}
{% block description %}Pannello di controllo arbitro{% endblock %}

{% block body %}
<div class="container">
    <h3> Partite di oggi e ieri </h3>
    <ul class="list-group list-group-flush">
        {% for sport, matches in sportAndMatches %}
        {% set id = sport|lower|replace({' ': '-'}) %}
            <li class="list-group-item">
                <div class="accordion" id="sport-{{ id }}-list">
                    <div class="accordion-item" id="sport-{{ id }}">
                        <h4 class="accordion-header">
                            <button class="accordion-button collapsed"
                                    type="button" data-bs-toggle="collapse" 
                                    data-bs-target="#sport-{{ id }}-body" 
                                    aria-expanded="false"
                                    aria-controls="sport-{{ id }}-body">
                                <strong>
                                    {{ sport }}
                                </strong>
                            </button>
                        </h4>
                        <div 
                            id="sport-{{ id }}-body" 
                            class="accordion-collapse collapse" 
                            aria-labelledby="accordion-header" 
                            data-parent="#sport-{{ id }}-list">
                            <div class="accordion-body">
                                <ul class="list-group list-group-flush">
                                    {% for match in matches %}
                                    <li class="list-group-item">
                                        {% include 'match/small.html.twig' with { 'match': match } %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% else %}
            <li class="list-group-item"> Nessuna partita </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
