{% extends 'base.html.twig' %}

{% block title %}Aggiungi arbitro{% endblock %}
{% block description %}Aggiungi nuovo arbitro{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">
        Aggiungi arbitri
    </h1>
    
    {% include 'admin/add_user_role.html.twig' with {'form': addRefereeForm, 'users': allUsers } %}

    <div class="row">
        <h1 class="h4 mb-3 font-weight-normal">
            Arbitri presenti
        </h1>
        <ul class="list-group">
            {% for referee in referees %}
                <li class="list-group-item">
                    {{ referee.Name }} {{ referee.Surname }}
                    <a href="mailto:{{ referee.Email }}"
                        title="{{ referee.Email }}"
                        class="link-secondary link-underline link-underline-opacity-0">
                        
                        <twig:ux:icon name="bi:envelope-at" height="15" />
                    </a>
                    &nbsp;
                    <a href="{{ path('referee_remove', {'id': referee.Id }) }}" 
                        class="link-danger link-underline link-underline-opacity-0"
                        title="Rimuovi">
                        <twig:ux:icon name="bi:trash" height="14" />
                    </a>
                </li>
            {% else %}
                <li class="list-group-item">
                    <strong>Nessun arbitro trovato</strong>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
